torch
torchvision>=0.9.1
tqdm>=4.40
requests>=2.25.1
black
pytest
flake8
sphinx
sphinx-autodoc-typehints
mypy>=0.760
isort
hypothesis
tensorboard
datasets
transformers
scikit-learn
pytorch-lightning
lightning-bolts
jsonargparse[signatures]>=3.19.3 # required for Lightning CLI
coverage
