name: Test Github Pages deployment

on:
  pull_request:
    branches:
      - main
    # Review gh actions docs if you want to further define triggers, paths, etc
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#on

jobs:
  test-deploy:
    name: Test deployment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install sphinx sphinx-autodoc-typehints
          yarn install
      - name: Test build website
        run: |
          cd website
          ./scripts/build_website.sh -b
